<!doctype html>
<html lang="en" ng-app="appNomTwo">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <!-- fix to french convention -->
    <script src="angular-locale_fr-fr.js"></script>

    <script src="main.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body class="container">


<div ng-controller="mainCtrl">

    <h3> Filtres</h3>

    <h4>Nombres</h4>

    <p>{{value | number:2 }}</p>
    <p>{{value | currency}}</p>
    <p>{{value | currency:"$"}}</p>

    <h4>Texte</h4>
    <p>{{text | lowercase }}</p>
    <p>{{text | uppercase }}</p>

    <h4>Date</h4>
    <p>{{date | date }}</p>
    <p>{{date | date:'medium' }}</p>
    <p>{{date | date:'yyyy' }}</p>
    <p>{{date | date:'MMMM' }}</p>

    <h4>Objet</h4>
    <p>{{users | json }}</p>
    <p>{{users | filter:'Sam' }}</p>
    <!--Permet de filtrer pour avoir juste une info-->
    <p>{{users | filter:filterValue }}</p>

    <h4>Avec ng-repeat</h4>

    <input ng-model="username">
    <!--recherche se fait direct dans le filtre username de ce qui est tapé dans input-->
    <ul>
        <li ng-repeat="user in users | filter:username">
            {{user.name}}
        </li>
    </ul>

    <ul>
        <li ng-repeat="user in users | filter:username | limitTo:3">
            {{user.name}}
        </li>
        <!--limitTo peut limiter les réusultats-->
    </ul>

    <ul>
        <li ng-repeat="user in users | filter:username | limitTo:limit()">
            {{user.name}}
        </li>
    </ul>

    <ul>
        <li ng-repeat="user in users | filter:username | orderBy:'name':true">
            {{user.name}}
        </li>
        <!--true inverse l'ordre, décroissant, par défaut croissant-->
    </ul>

    <ul>
        <li ng-repeat="user in users | filter: username | orderBy:order:reverse">
            {{user.name}}
        </li>
<button ng-click="inverser()">Inverser</button>
    </ul>


</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>